<!DOCTYPE html>
<html>
  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="~/Content/styles.css">
  @* <meta name="viewport" content="width=device-width, initial-scale=1.0"/> *@

    <meta charset="utf-8">
    <title>Yip</title>
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
