@{
  Layout = "Shared/_Layout.cshtml";
}

<div class="input-field col s6">
  <form action="/add-cuisine" method="post">
    <input type="text" name="cuisine" type="text" class="validate">
    <label for="cuisine">Name of Cuisine</label>
    <button type="submit" class="waves-effect waves-light btn">Add Cuisine</button>
  </form>
</div>
