@{
  Layout = "Shared/_Layout.cshtml";
}

<ul>
@foreach (var cuisine in Model)
{
  <li><span class="cuisine-output"><a href="/cuisine/@cuisine.GetId()">@cuisine.GetName()</a></span> | <a href="/cuisine/update/@cuisine.GetId()">Edit Cuisine</a> | <a href="/delete/confirmation/@cuisine.GetId()">Delete Cuisine</a></li>
}
</ul>

<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating btn-large" href="/">Home</a></li>
      <li><a class="btn-floating green" href="/add-cuisine"><i class="material-icons">add</i></a></li>
      <li><a class="btn-floating red" href="#"><i class="material-icons">textsms</i></a></li>
    </ul>
  </div>
