@{
  Layout = "Shared/_Layout.cshtml";
}

<ul>
@foreach (var cuisine in Model)
{
  <li><span class="cuisine-output"><a href="/cuisine/@cuisine.GetId()">@cuisine.GetName()</a></span> | <a href="/cuisine/update/@cuisine.GetId()">Edit Cuisine</a> | <a href="/delete/confirmation/@cuisine.GetId()">Delete Cuisine</a></li>
}
</ul>

<a href="/add-cuisine" class="btn-floating">+</a>
